
* {
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px;
  color: white;
  
  
}
.mainpage {
  background-color: black;
  padding:0px 3%;

}
.page {
  background-color: black;
width: 100%;
}
.flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
.atc {
  align-items: center;
}
.ucase {
  text-transform: uppercase;
}
.header {
  height: 100vh;
}
.header-nav {
  border-block: 1px solid #fff;
  text-transform: uppercase;
}
.header-nav-box {
  font-size: 15px;
  padding: 12px 36px;
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.header-nav-box p {
  cursor: pointer;
}
.hnb-flex {
  gap: 5px;
}
.gp10 {
  gap: 10px
}
.gp30 {
  gap: 29px;
}
.main-nav {
}
.navbar {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  justify-content: flex-end;
  margin-left: auto;
  padding-block: 20px;
}
.navbar ul li {
  list-style-type: none;
  padding: 0px 15px;
  line-height: 20px;
  border-right: 1px solid white;
  cursor: pointer;
}
.navbar ul li:nth-of-type(3){
border-right: none;
}
.nav-lang-cont {
  border: 1px solid white;
  padding: 8px 15px;
  cursor: pointer;
}
.header-main-text {
  text-transform: uppercase;
  font-size: 63px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  position: absolute;
  top: 12%;
}
.header-mid-text {
  position: relative;
  left: 200px
}
.itl {
margin-right: 6px;
}
.headertextcont {
  position: relative;
  flex-basis: 47%;
}
.headerMaintext {
  width: 380px;
font-size: 12px;
font-weight: 400;
line-height: 20px;
position: absolute;
right: 20px;
top: 48%;
color: #ffff;
}
.explore-cont {
  position: relative;
}
.headerimgcont {
  flex-basis: 53%;
  border-left: 1px solid #fff;
padding-block: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.miniheaderimgcont {
position: relative;
height: 82vh;


}
.explore-hidden {
  position: absolute;
  top: 70px;
  right: 18px;
  z-index: 1;
  background-color: black;
  border:2px dashed #9747ff;
  border-radius: 10px;
  padding: 1px 10px;
  text-align: justify;
  font-size: 10px;
  font-weight: 500;
  width:  10vw;
} 
.explore-hidden div {
  margin-block: 15px;
  cursor: pointer;
}
.uparrow {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.downarrow {
  transition: all 0.3s;

}
.showexplore {
  opacity: 1;
  transition: all 0.3s;
top: 0px;
position: unset;
}
.hideexplore {
  transition: all 0.3s;
  position: absolute;
  right: 0px;
  top: 50px;
  opacity: 0;
}
.collab-img-text {
  font-weight: 600;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  right: 7%;
  margin-left: auto;
}
.headerimg{
  height: 82vh;
  object-fit: contain;
  
}
.header-body {
height: 92vh;;
border-bottom: 1px solid #fff;
}

.shopnowcont {
  font-size: 16px;
  padding: 12px 36px;
  border: 1px solid #fff;
  position: absolute;
  bottom:30px;
  right: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.textimgcont {
  position: absolute;
  bottom: 27px;
  left: 0px;
}
.collab-text {
  margin-block: 10px;
  font-size: 12px;
  font-weight: 600;
}