
* {
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px;
  color: white;
  
  
}
.mainpage {
  background-color: black;
  padding:0px 3%;

}
.page {
  background-color: black;
width: 100%;
}
.flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
.atc {
  align-items: center;
}
.ucase {
  text-transform: uppercase;
}


.header {
  height: 100vh;
}
.header-nav {
  border-block: 1px solid #fff;
  text-transform: uppercase;
}
.header-nav-box {
  font-size: 15px;
  padding: 12px 36px;
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.header-nav-box p {
  cursor: pointer;
}
.hnb-flex {
  gap: 5px;
}
.gp10 {
  gap: 10px
}
.gp30 {
  gap: 29px;
}

.explore-hidden {
  position: absolute;
  top: 70px;
  right: 18px;
  z-index: 2;
  background-color: black;
  border:2px dashed white;
  border-radius: 10px;
  padding: 1px 10px;
  text-align: justify;
  font-size: 10px;
  font-weight: 500;
  box-shadow: 0px 0px 3px 4px rgba(1, 1, 1, 1);
  width:  10vw;
} 
.explore-hidden div {
  margin-block: 15px;
  cursor: pointer;
}
.uparrow {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.downarrow {
  transition: all 0.3s;

}
.showexplore {
  z-index: 2;
  opacity: 1;
  transition: all 0.3s;
top: 0px;

}
.hideexplore {
  position: absolute;
  z-index: 2;
  transition: all 0.3s;
  right: 0px;
  top: 50px;
  opacity: 0;
}
.navbar {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  justify-content: flex-end;
  margin-left: auto;
  padding-block: 20px;
}
.navbar ul li {
  list-style-type: none;
  padding: 0px 15px;
  line-height: 20px;
  border-right: 1px solid white;
  cursor: pointer;
}
.navbar ul li:nth-of-type(3){
border-right: none;
}
.nav-lang-cont {
  border: 1px solid white;
  padding: 8px 15px;
  cursor: pointer;
}
.header-main-text {
  text-transform: uppercase;
  font-size: 63px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  z-index: 0;
  position: absolute;
  top: 12%;
}
.header-mid-text {
  position: relative;
  left: 200px
}
.itl {
margin-right: 6px;
}
.headertextcont {
  position: relative;
  flex-basis: 47%;
}
.headerMaintext {
  width: 380px;
font-size: 12px;
font-weight: 400;
line-height: 20px;
position: absolute;
right: 20px;
top: 48%;
color: #ffff;
}
.explore-cont {
  position: relative;
}
.headerimgcont {
  flex-basis: 53%;
  border-left: 1px solid #fff;
padding-block: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.miniheaderimgcont {
position: relative;
height: 82vh;


}


.collab-img-text {
  font-weight: 600;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  right: 12px;
  margin-left: auto;
}
.headerimg{
  height: 82vh;
  object-fit: contain;
  
}
.header-body {
height: 92vh;;
border-bottom: 1px solid #fff;
}

.shopnowcont {
  font-size: 16px;
  padding: 12px 36px;
  border: 1px solid #fff;
  position: absolute;
  bottom:30px;
  right: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.textimgcont {
  position: absolute;
  bottom: 27px;
  left: 0px;
}
.collab-text {
  margin-block: 10px;
  font-size: 12px;
  font-weight: 600;
}
.footer {
  text-transform: uppercase;
  border-top: 1px solid white
}
.footer-input {
  color: black;
}
.footer-sub-text {
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  width: 36vw;
}
.wrapper {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr;
}
.footer-agreebtn {
  border-left: 1px solid white;
  position: relative;
  padding:40px 0px;
  font-weight: 600;
padding-left: 15px;

}
.footer-email {
  border-left: 1px solid white;
  position: relative;
  font-weight: 600;
padding-left: 15px;
}
.footer-email input {
 position: absolute;
 bottom: 5px;
 width: 70%;
 padding: 5px 10px;
 outline: none;
}
.footer-agreebtn p {
  position: absolute;
  font-size: 12px;
  bottom: 5px;

}
.footer-main {
  display: grid;
  grid-template-columns:0.9056fr 0.9fr 1fr 1fr ;
}
.footer-main div {
  border-right: 1px solid white;
  border-block: 1px solid white;
  height: 50vh;
  padding:15px ;
  position: relative;
  
}
.footer-main div:nth-of-type(4) {
  border-right: none;
}
.social-media-text {
  font-style: 400;
  font-size: 12px;
  line-height: 15.5px;
  position: absolute;
  top: 38%;
}
.f12 {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 37%;
}
.footer-list {
  list-style-type: none;
  font-weight: 600;
  
  line-height: 20px;
  position: absolute;
  bottom: 10px;
}
.footer-list li {
  padding-block: 2px;
  font-size: 15px;
  margin-block: 5px;
}